<template name="itemsList">
  <div id="itemList" class="animated slideInUp">

    <h2>Einkaufsliste</h2>

    {{#if items.count}}
    <ul class="items noselect">
      {{#each items}}
        {{> item}}
      {{/each}}
    </ul>
    {{else}}
    <p class="light">Im Moment gibt es nichts einzukaufen. Alles erledigt :)</p>
    {{/if}}

    <div class="row fade ">
      <div class="col-sm-6 col-xs-12">
        <form class="form-inline" role="form">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <label class="sr-only" for="new-item">Neuen Artikel hinzufügen</label>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </div>
              <input type="text" class="form-control" id="new-item" placeholder="Neuer Artikel...">
            </div>
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-open"></span></button>

          <div id="position-icons" class="radio-toolbar" style="display: none;">
            <input type="radio" id="default" name="position" value="0" checked>

            <input type="radio" id="vegetables" name="position" value="10">
            <label for="vegetables" class="btn btn-default"><img src="icons/vegetables.png"></label>

            <input type="radio" id="lactic" name="position" value="8">
            <label for="lactic" class="btn btn-default"><img src="icons/lactic.png"></label>

            <input type="radio" id="meat" name="position" value="6">
            <label for="meat" class="btn btn-default"><img src="icons/meat.png"></label>

            <input type="radio" id="doses" name="position" value="4">
            <label for="doses" class="btn btn-default"><img src="icons/doses.png"></label>
          </div>
        </form>
      </div>
      <div class="col-sm-6 col-xs-12">
        <p class="text-right">
          <a href="#" id="show-cumulus" class="btn btn-default" title="Cumulus Karte"><span class="glyphicon glyphicon-barcode"></span></a>
          <a href="#" id="shopping-done" class="btn btn-primary" title="Einkauf erledigt, gekaufte Artikel löschen!">Einkauf erledigt!</a>
        </p>
      </div>
    </div>

  </div>

  {{> modal_cumulus}}
  {{> modal_shoppingDone}}

</template>
