@import "mixins";

@box-shadow-color: rgba(0, 0, 0, 0.15);
@font-family: 'Open Sans', 'Sans Serif', Arial;

@bg-color-1: #EE7752;
@bg-color-2: #E73C7E;
@bg-color-3: #23A6D5;
@bg-color-4: #23D5AB;
@text-beforebg-color: #ffffff;
@fade: 0.75;

body {
  color: #666666;
  font-family: @font-family;
  font-weight: 300;
  background: #eee;
  background: linear-gradient(-45deg, @bg-color-1, @bg-color-2, @bg-color-3, @bg-color-4);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@-moz-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% {	background-position: 100% 50%	}
	100% { background-position: 0% 50% }
}
@keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50%	}
	100% { background-position: 0% 50% }
}

h2 {
  color: @text-beforebg-color
}

footer {
  color: fade(@text-beforebg-color, 80%);
}

.btn-primary {
  background: linear-gradient(-45deg, @bg-color-4, @bg-color-3, @bg-color-2, @bg-color-1);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  opacity: 0.95;
  border-color: #ffffff;
  &:hover, &:focus, &:active,
  &.focus, &.active {
    opacity: 1;
    border-color: #ffffff;
  }
}
.fade {
  opacity: @fade;
}

.navbar-default {
  background-color: rgba(255, 255, 255, @fade+0.15);
  .navbar-nav > .active > a {
    background-color: rgba(231, 231, 231, @fade+0.15);
  }
}
.navbar-header {
  float: left;
  .nav {
    float: left;
    li {
      float: left;
      @media (max-width: 768px) {
        margin-left: 2em;
      }
      a {
        float: left;
      }
    }
  }
}
.navbar-right {
  float: right !important;
  margin-right: -15px;
}

main ul {
  background: rgba(255, 255, 255, @fade);
  padding: 0;
  list-style: none;
  .border-radius(3px);
  .box-shadow(0 1px 1px @box-shadow-color);
}

.form-inline {
  .input-group > .form-control {
    width: inherit;
  }
  .form-group {
    display: inline-table;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

#shopping-done, #show-cumulus {
  margin-top: 15px;
}
@media (min-width: 768px) {
  #shopping-done, #show-cumulus {
    margin-top: 0;
  }
}

#cumulus-modal {
  .modal-body img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 250px;
  }
}

.item {
  position: relative;
  border-bottom: 1px solid @box-shadow-color;

  &.checked {
    opacity: 0.5;
  }

  .title {
    padding: 12px 60px;
    @media (min-width: 768px) {
      padding-right: 100px;
    }
    box-sizing: border-box;

    &.edit {
      span {
        display: none;
      }
      input {
        background-color: inherit;
        display: inherit;
      }
    }
  }

  .btn {
    position: absolute;
    color: inherit;
    .box-shadow(none);
  }

  .glyphicon {
    font-size: 2em;
  }

  .btn-right {
    position: absolute;
    right: 0;

    &.btn-edit,
    &.btn-save {
      right: 46px;
    }
  }

}

.dinner {
  .edit {
    span {
      display: none;
    }
    input {
      display: inherit;
      background-color: inherit;
    }
  }
  .registered {
    margin-bottom: 1em;
    .listedDesc {
      margin: 0.5em 0;
    }
    .listedJoiner {
      &.status-later {
        font-style: italic;
      }
      &.status-no {
        text-decoration: line-through;
      }
      .name {
        font-weight: normal;
      }
    }
  }
}

.item, .dinner {
  overflow: hidden;
  display: block;
  width: 100%;

  input {
    padding: 0;
    border: 0;
    width: 100%;
    font-style: italic;
    display: none;
    outline: none;
    .box-shadow(none);
  }
}

.message {
  position: absolute;
  z-index: 9000;
  width: 240px;
  left: 50%;
  top: 50%;
  padding: 15px;
  margin-left: -120px;
  margin-top: -50px;
  color: white;
  font-size: 1.28em;
  font-weight: 400;
  background-color: rgba(0,0,0,0.5);
  .border-radius(5px);

  .glyphicon {
    font-size: 2em;
    font-weight: 500;
  }

  &.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
  }
}

.card {
  background: rgba(255, 255, 255, @fade);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 15px 10px;
  margin-bottom: 2em;
  text-align: center;
  h3 {
    margin-top: 0px;
    font-size: 1.5em;
  }
  .input-area {
    font-size: 1.2em;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-signin-heading,
  .checkbox {
    margin-bottom: 10px;
  }
  .form-control {
    position: relative;
    height: auto;
    .box-sizing;
    padding: 10px;
    font-size: 16px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
