<template name="historyList">
  <div id="historyList" class="animated slideInUp">
    <h2>Verlauf</h2>

    <div id="userCounter" class="card noselect">
      <h3>Zählstatistik <span class="text-danger">(dev. mode)</span></h3>
      {{#each users}}
      <div id="user_{{username}}" class="userEntry space">
         <div class="bigger">{{profile.first_name}} {{profile.last_name}}</div>

         {{#if profile.dinnerCounter}}
           <div><strong>{{profile.dinnerCounter}}</strong>mal gekocht</div>
         {{else}}
           <div>Noch nie gekocht.</div>
         {{/if}}

         {{#if profile.shoppingCounter}}
           <div><strong>{{profile.shoppingCounter}}</strong>mal eingekauft  ({{formatDate profile.shoppingLastDate}})</div>
         {{else}}
           <div>Noch nie eingekauft.</div>
         {{/if}}

         {{#if status.online}}
           <div>Ist gerade <strong>online</strong></div>
         {{else}}
           <div>Letztes Login: {{formatDate status.lastLogin.date}}</div>
         {{/if}}

      </div>
      {{/each}}
    </div>

    <div id="dinnerLog" class="card noselect">
      <h3>Rezept Inspiration</h3>
      <p>Comming soon...</p>
    </div>

    <div class="fade">
      <p class="text-right">
        <a href="#" id="reset-history" class="btn btn-primary" title="Zurücksetzen">Zurücksetzen</a>
      </p>
    </div>

  </div>
</template>
